nav {
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  background-color: #2d3142;
}
.header a {
  color: white;
}

.header .links:hover {
  transform: scale(1.1);
  color: skyblue;
  /* padding: 0px 1px; */
}

.header .logo:hover {
  color: #fff;
  /* border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; */
  border: 1px solid #fff;
  padding: 3px;
}
.username {
  color: white;
  /* font-size: 14px; */
  display: block;
  font-weight: var(--bs-nav-link-font-weight);
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}
